/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/install-sh
/libtool
/missing
/so_locations
/stamp-h1
/tags
/TAGS

Makefile
Makefile.in

/data/system/eos-kolibri-system-helper.service
/data/system/eos-kolibri-system-helper.socket
/data/tmpfiles.d/eos-kolibri-system-helper.conf
/data/environment.d/00-eos-kolibri.conf
/data/sysusers.d/kolibri.conf
